{% extends 'tax_app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m2">
      <form action="" method="POST" class="form-group">
        {% csrf_token %}
        <div>
        <div class="input-field">
          <label for="{{ form.state.label }}">{{ form.state.label }}</label>
          <input type="text" required class="autocomplete"
          id="{{ form.state.auto_id }}" name="state" value="{{ form.state.value|default:"" }}">
          {% comment %} id="autocomplete-input" name="{{ form.state.name }}"> {% endcomment %}
        </div>
        <div class="input-field">
          <label for="{{ form.PanCard.label }}">{{ form.PanCard.label }}</label>
          <input type="text" required class="form-control"
          id="{{ form.PanCard.auto_id }}" name="{{ form.PanCard.name }}" value="{{ form.PanCard.value|default:"" }}">
        </div>
        <div class="input-field">
          <label for="{{ form.salaryIncome.label }}">{{ form.salaryIncome.label }}</label>
          <input type="number" required class="form-control"
          id="{{ form.salaryIncome.auto_id }}" name="{{ form.salaryIncome.name }}" value="{{ form.salaryIncome.value|default:"" }}">
        </div>
        <div class="input-field">
          <label for="{{ form.stockIncome.label }}">{{ form.stockIncome.label }}</label>
          <input type="number" required class=""
          id="{{ form.stockIncome.auto_id }}" name="{{ form.stockIncome.name }}" value="{{ form.stockIncome.value|default:"" }}">
        </div>
        {% comment %} <div class="form-group col-md-12 mb-3">
          <label for="{{ form.STATUS.label }}">{{ form.STATUS.label }}</label>
          <select id="{{ form.STATUS.auto_id }}" name="{{ form.STATUS.name }}">
          {% for value, label in form.fields.STATUS.choices %}
              <option value="{{ value }}"{% if form.STATUS.value == value %} selected{% endif %}>{{ label }}</option>
          {% endfor %}
          </select>
        </div> {% endcomment %}
        {% comment %} {{ form.media }} {% endcomment %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} <li>
          <a class="dropdown-button" data-activates="my-dropdown" href="#!">Dropdown
          </a>
            {% comment %} <i class="material-icons right">arrow_drop_down</i> {% endcomment %}
        <br>
        {% comment %} <br> {% endcomment %}
        <button type="submit" class="btn blue">Add</button>
      </form>
    </div>
  </div>
</div>
<ul id="my-dropdown" class="dropdown-content">
  <li>
    <a href="#">Link 1</a>
  </li>
  <li>
    <a href="#">Link 2</a>
  </li>
  <li>
    <a href="#">Link 3</a>
  </li>
</ul>

{% endblock %}