{% extends 'tax_app/base.html' %}

{% block content %}
<div class="container">
  <div class="row bill-form-class">
    <form action="" method="POST" class="form-group1">
        {% csrf_token %}
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field black-text">
          {% comment %} <label for="{{ form.state.label }}"></label> {% endcomment %}
          <input type="text" required class="autocomplete" placeholder="Enter State" id="{{ form.state.auto_id }}" name="state" value="{{ form.state.value|default:"" }}">
          </div>
        </div>
        <div class="col s12 m6 right">
          <div class="input-field black-text">
          <label for="{{ form.PanCard.label }}"></label>
          <input type="text" required class="form-control" autocapitalize="on" placeholder="Pan Card"
          id="{{ form.PanCard.auto_id }}" name="{{ form.PanCard.name }}" value="{{ form.PanCard.value|default:"" }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
          <label for="{{ form.salaryIncome.label }}"></label>
          <input type="number" min=0 max=100000 required class="form-control" placeholder="Salary Income"
          id="{{ form.salaryIncome.auto_id }}" name="{{ form.salaryIncome.name }}" value="{{ form.salaryIncome.value|default:"" }}">
          </div>
        </div>
        <div class="col s12 m6 right">
          <div class="input-field">
          <label for="{{ form.stockIncome.label }}"></label>
          <input type="number" min=0 max=100000 required class="form-control" placeholder="Stock Income"
          id="{{ form.stockIncome.auto_id }}" name="{{ form.stockIncome.name }}" value="{{ form.stockIncome.value|default:"" }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 offset-m6 submit-class">
          <button type="submit" class="btn green darken-4">Add Bill</button>
        </div>
        <div class="col s12 m3 submit-class right">
          <button type="submit" class="btn yellow darken-4">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>



{% comment %} <div class="container">
  <div class="row grey lighten-3">
    <div class="col s12 m6 offset-m2">
      <form action="" method="POST" class="form-group1">
        {% csrf_token %}
      <div class="row">
        <div class="col s12 m4 offset-m2">
          <div class="input-field black-text">
          <label for="{{ form.state.label }}"></label>
          <input type="text" required class="autocomplete form-control" placeholder="Enter State" id="{{ form.state.auto_id }}" name="state" value="{{ form.state.value|default:"" }}">
          </div>
          <br>
          <div class="input-field black-text">
          <label for="{{ form.PanCard.label }}"></label>
          <input type="text" required class="form-control" placeholder="Pan Card"
          id="{{ form.PanCard.auto_id }}" name="{{ form.PanCard.name }}" value="{{ form.PanCard.value|default:"" }}">
          </div>
        </div>
        <div class="col s12 m4 left-offset-m2">
          <div class="input-field">
          <label for="{{ form.salaryIncome.label }}"></label>
          <input type="number" required class="form-control" placeholder="Salary Income"
          id="{{ form.salaryIncome.auto_id }}" name="{{ form.salaryIncome.name }}" value="{{ form.salaryIncome.value|default:"" }}">
          </div>
          <br>
          <div class="input-field">
          <label for="{{ form.stockIncome.label }}"></label>
          <input type="number" required class="form-control" placeholder="Stock Income"
          id="{{ form.stockIncome.auto_id }}" name="{{ form.stockIncome.name }}" value="{{ form.stockIncome.value|default:"" }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m11 offset-m2 submit-class">
          <button type="submit" class="btn green darken-4">Add</button>
        </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}