.bill-form-class {
    background-color: rgb(142, 146, 148) !important;
    border-radius: 10px !important;
    padding: 14px;
}

.form-group1 input {
    padding: 5px !important;
    margin: 3px !important;
    font-size: 18px !important;
    width: 60% !important;
    height: 30% !important;
    border: rgb(62, 64, 65) 2px solid !important;
    border-radius: 10px !important;
}

.form-group1 .submit-class button {
    /* background-color: brown; */
    width: 60% !important;
    border-radius: 10px !important;
}

.autocomplete-content {
    top: 60px !important;
    position: absolute;
    width: 80%;
    text-align: center;
}